@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

* {
    margin     : 0;
    padding    : 0;
    box-sizing : border-box;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #0D0D0D;
    padding         : 15px 0;
    position: fixed;
    
}

nav {
    display        : flex;
    justify-content: space-around;
    align-items    : center;
    width: 100vw;
    
}



.navlink {
    list-style: none;
}

.navlink li {
    display: inline;
    margin : 0 30px;
}

.navlink li a {
    text-decoration: none;
    color          : cornsilk;
    font-size      : 19px;
}

nav img {
    height: 70px;
}

.intro {
    background-color: #0D0D0D;
    min-height      : 100vh;
    width           : 100%;
    display         : flex;
    justify-content : space-around;
    align-items     : center;
}

.intro_name {
    width: 40%;
}

.intro_name h2 {
    font-size  : 70px;
    font-weight: 900;
    color      : white;
    margin     : 20px 0;
}

.intro_name p {
    color     : white;
    margin-top: 5px;
}

.image img {
    width           : 40vh;
    border-radius   : 50%;
    border          : 10px solid #202026;
    padding      :     10px;
}

.hello {
    background-color: #0bceaf;
    width           : 150px;
    height          : 45px;
    text-align      : center;
    padding         : 5px;
    border-radius   : 25px 25px 25px 0;
}

.hello p {
    font-size: 30px;
}

.skill {
    background-color: #0D0D0D;
    width           : 100%;
    min-height      : 40vh;
    display         : flex;
    flex-direction  : column;
    padding: 100px;
}

.skill h1 {
    color     : white;
    font-size : 60px;
    align-self: center;
    margin    : 50px 0;
}

.skill_design {
    display        : flex;
    justify-content: space-around;
    width          : 100%;
}

.skill_box {
    display           : flex;
    flex-direction    : column;
    align-items       : center;
    /* justify-content: space-around; */
    width             : 25%;
    padding           : 20px;
    background-color  : #202026;
    height            : 300px;
    flex-wrap: wrap;
}

.skill_box img {
    width : 100px;
    height: 80px;
    margin: 35px 0;
    
}

.skill_box h2 {
    color : white;
    margin: 0 0 20px 0;
    text-align: center;
}

.skill_box p {
    color     : white;
    text-align: center;
}

.edu {
    padding-top     : 80px;
    display         : flex;
    justify-content : space-around;
    min-height      : 80vh;
    width           : 100%;
    background-color: #0D0D0D;
    color           : white;
}

.education,
.interest {
    width: 30%;
}

.education h1,
.interest h1 {
    font-size    : 50px;
    text-align   : center;
    margin-bottom: 20px;
}

.education_content,
.interest_content {
    display        : flex;
    flex-direction : column;
    justify-content: space-around;
    height         : 80%;
}

.edu1,
.interest1 {
    background-color: #202026;
    margin          : 20px 0;
    padding         : 20px;
    height          : 200px;
}

.edu1 h2,
.interest h2 {
    font-size: 25px;
    margin   : 10px 0;
}

.edu1 h3 {
    color: #0bceaf;
}

.a1::after {
    content: ' MANIT';
    color  : #0bceaf;
}

.a2::after {
    content: ' APS Guna';
    color  : #0bceaf;
}

.a3::after {
    content: ' VCS';
    color  : #0bceaf;
}

.interest1 p {
    margin-top: 7px;
}

.interest1 h2 {
    color: #0bceaf;
}
.contact{
    min-height: 25vh;
    background-color  : #FF6666;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.site_logo img{
    height: 50px;
    width: 80px;
    margin: 0 5px;
}
.contact a{
    text-decoration: none;
    color: white;
}
.info{
    margin: 20px 0;
}
.info h2{
    color: black;
}
.info p{
    color: cornsilk;
}
.copyright{
    margin: 20px 15px;
}

@media(max-width: 800px)
{
    nav img{
        margin-left: 50px;
    }
    .navlink{
        display: none;
    }
    .intro{
        flex-wrap: wrap-reverse;
        padding-top: 60px;
    }
    .intro_name{
        width: 90%;
    }
    .intro_name h2{
        font-size: 40px;
    }
    .skill_design{
        display: block;
        position: relative;
        width: 220vw;
    }
    .edu{
        display: block  ;
    }
    .education,
.interest {
    width: 100%;
}
.skill h1{
    font-size: 50px;;
}
}
